

h1, h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: 'Grandiflora One', cursive;
    font-size: large;
}

.nav-link:hover {
    color: aquamarine;
}

.container-fluid {
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn {
    background-color: #000;
}

.coming-soon {
    background-color: #9dc2a4;
}

/* Social Icons */

.social-icons {
size-adjust: 10em;
color: black;
}

/* Nav Bar  */
.nav-item {
    font-family: 'Grandiflora One', cursive;
    font-weight: 1000;
    font-size: large;
}

/* Colour Theory Page */


/* Palette Section */

.palette-title {
    text-align: center;
}

.palette-list {
    font-family: 'Grandiflora One', cursive;
    font-size: large;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

/* Coming Soon Section */

.coming-soon {

}

#contact-form {align-content: center;}
