

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: 'font-family: 'Grandiflora One', cursive;';
}

.btn {
    background-color: #000;
}

/* Social Icons */

.social-icons {
size-adjust: 10em;
}

.fa-twitter {
    color: pink;
}

.nav-item {font-family: 'Grandiflora One', cursive;
    font-weight: 1000;
}

#contact-form {align-content: center;}