

h1, h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: 'Grandiflora One', cursive;
    font-size: large;
}

a:hover {
    color: aquamarine;
}

.container-fluid {
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn {
    background-color: #000;
}

.coming-soon {
    background-color: #41161d;
    color: white;
    padding-top: 5em;
}

/* Social Icons */

.social-icons {
size-adjust: 10em;
color: black;
}

/* Nav Bar  */
.nav-item {
    font-family: 'Grandiflora One', cursive;
    font-weight: 1000;
    font-size: large;
}

.nav-bar {
    background-color: white;
}

/* Colour Theory Page */

.colours {
    padding: 2rem;
}

/* Palette Section */

.palette-title {
    text-align: center;
}

.palette-list {
    font-family: 'Grandiflora One', cursive;
    font-size: large;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}



#contact-form {align-content: center;}
